<div class="btn-group pull-right quick-emoji open">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <img src="/static/emoji/lgtm.png" width="18" alt="clap">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="description">
        Select an emoji
        </li>
        <li class="divider"></li>
        <div class="emojis">
            <a data-emoji=":lgtm-aikatsu1:">
                <img src="/static/emoji/lgtm-aikatsu1.png">
            </a>
            <a data-emoji=":lgtm-aikatsu2:">
                <img src="/static/emoji/lgtm-aikatsu2.png">
            </a>
            <a data-emoji=":lgtm-aikatsu3:">
                <img src="/static/emoji/lgtm-aikatsu3.png">
            </a>
            <a data-emoji=":lgtm-haruhi1:">
                <img src="/static/emoji/lgtm-haruhi1.png">
            </a>
            <a data-emoji=":lgtm-hyoka1:">
                <img src="/static/emoji/lgtm-hyoka1.png">
            </a>
            <a data-emoji=":lgtm-hyoka2:">
                <img src="/static/emoji/lgtm-hyoka2.png">
            </a>
            <a data-emoji=":lgtm-joshiraku1:">
                <img src="/static/emoji/lgtm-joshiraku1.png">
            </a>
            <a data-emoji=":lgtm-k-on1:">
                <img src="/static/emoji/lgtm-k-on1.png">
            </a>
            <a data-emoji=":lgtm-love-lab1:">
                <img src="/static/emoji/lgtm-love-lab1.png">
            </a>
            <a data-emoji=":lgtm-love-lab2:">
                <img src="/static/emoji/lgtm-love-lab2.png">
            </a>
            <a data-emoji=":lgtm-lovelive1:">
                <img src="/static/emoji/lgtm-lovelive1.png">
            </a>
            <a data-emoji=":lgtm-lovelive10:">
                <img src="/static/emoji/lgtm-lovelive10.png">
            </a>
            <a data-emoji=":lgtm-lovelive2:">
                <img src="/static/emoji/lgtm-lovelive2.png">
            </a>
            <a data-emoji=":lgtm-lovelive3:">
                <img src="/static/emoji/lgtm-lovelive3.png">
            </a>
            <a data-emoji=":lgtm-lovelive4:">
                <img src="/static/emoji/lgtm-lovelive4.png">
            </a>
            <a data-emoji=":lgtm-lovelive5:">
                <img src="/static/emoji/lgtm-lovelive5.png">
            </a>
            <a data-emoji=":lgtm-lovelive6:">
                <img src="/static/emoji/lgtm-lovelive6.png">
            </a>
            <a data-emoji=":lgtm-lovelive7:">
                <img src="/static/emoji/lgtm-lovelive7.png">
            </a>
            <a data-emoji=":lgtm-lovelive8:">
                <img src="/static/emoji/lgtm-lovelive8.png">
            </a>
            <a data-emoji=":lgtm-lovelive9:">
                <img src="/static/emoji/lgtm-lovelive9.png">
            </a>
            <a data-emoji=":lgtm-mikakunin1:">
                <img src="/static/emoji/lgtm-mikakunin1.png">
            </a>
            <a data-emoji=":lgtm-mikakunin2:">
                <img src="/static/emoji/lgtm-mikakunin2.png">
            </a>
            <a data-emoji=":lgtm-nichijou1:">
                <img src="/static/emoji/lgtm-nichijou1.png">
            </a>
            <a data-emoji=":lgtm-nichijou2:">
                <img src="/static/emoji/lgtm-nichijou2.png">
            </a>
            <a data-emoji=":lgtm-sakura-trick1:">
                <img src="/static/emoji/lgtm-sakura-trick1.png">
            </a>
            <a data-emoji=":lgtm-sakuta-trick2:">
                <img src="/static/emoji/lgtm-sakuta-trick2.png">
            </a>
            <a data-emoji=":lgtm-sakuta-trick3:">
                <img src="/static/emoji/lgtm-sakuta-trick3.png">
            </a>
            <a data-emoji=":lgtm-tari-tari1:">
                <img src="/static/emoji/lgtm-tari-tari1.png">
            </a>
            <a data-emoji=":lgtm-yuruyuri1:">
                <img src="/static/emoji/lgtm-yuruyuri1.png">
            </a>
            <a data-emoji=":lgtm-yuruyuri2:">
                <img src="/static/emoji/lgtm-yuruyuri2.png">
            </a>
        </div>
    </ul>
</div>